:root {
    --theme-col: #51247A;
    --slider-height: 6em;
}
/* div with logout button */
#topbar {
    position: sticky;
    right: 3em;
    display: flex;
    justify-content: flex-end;
}
/* logout link */
#topbar a {
    background-color: var(--theme-col);
    font-family: helvetica, arial, sans-serif;
    font-size: 1 em;
    color: #fff;
    padding: 0.4em 0.8em 0.2em 0.2em;
}
/* logout icon */
#topbar img {
    max-width: 1em;
    margin: 0 0.4em;
}

/* Date range slider */
#slider {
    position: absolute;
    bottom: 0.5em;
    width: 93%;
    margin-left: 16px;
}