:root {
  --popup-color: rgba(255,255,255,0.75);
}

/* Map div */
#map {
    min-width: 750px;
    width: 70%;
    height: 50%;
}

/* Popup for data point - what time it was */
#map-datapoint-popup {
    position: absolute;
    background-color: var(--popup-color);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 85px;
}
#map-datapoint-popup:after, #map-datapoint-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  #map-datapoint-popup:after {
    border-top-color: var(--popup-color);
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  #map-datapoint-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }